
.card-usimg{
    width: 9.2rem;
    height: 9.2rem;
    background-color: #012041;
    border-radius: 50%;
    border: 2px solid black;

}
.card-user{
    color: black;
    font-weight: bold;
}

@media (max-width: 767px) {
    .card-usimg{
        margin-left: 65px;
        margin-bottom: 20px;
    }
}
@media(min-width:768px) and (max-width:1023px){
    .card-cont{
        padding: 2rem 1rem;
    }
    .card-usimg{
        margin-left: 170px;
        margin-bottom: 30px;
    }
    .card-info{
        margin-left: 130px;
    }
}