* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para el modo normal */
main{
  width: 100%;
  background-color: #6DA5C0;
}

.barra1 {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  background-color: #1f2937;
  margin-left: -160px;
  width: 1707px;
  justify-content: center;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

li a {
  text-decoration: none;
}

li{
  color: black;
  margin-right:80px;
}

a{
  color: black;
}

ul {
  list-style-type: none;
  align-items: center;
  display: flex;
  margin-left: 200px;
  display: flex;
  align-items: center;
}

.barra1 ul li {
  margin-left: 20px;
  cursor: pointer;
}

img {
  cursor: pointer;
  width: 70px;
  height: 50px;
}

p{
  color: black;
}



/* Estilos para el modo oscuro */
.dark h1{
  color: white;
}
.dark li{
  color: white;
}
.dark a{
  color: white;
}
.dark main{
  background-color: #1f2937;
}
.dark p{
  color: white;
}

.dark .barra1{
  background-color: #6DA5C0;
}

.dark {
  background-color: #1f2937;
}


/* Ajustes de padding */
@media (min-width: 768px) {
  main {
    padding-left: 5rem; /* 20px */
    padding-right: 5rem; /* 20px */
  }
}

@media (min-width: 1024px) {
  main {
    padding-left: 10rem; /* 40px */
    padding-right: 10rem; /* 40px */
  }
}

