/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}

:root {
  --bg-color: #f7f7f7;
  --secondbg-color: #021024;
  --text-color: black;
  --text-dk: white;
  --texto: font-family: "Ar One Sans", sans-serif;

}

.main-container {
  background-color: white;
  border: 2px solid black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 4rem;
  background-color: #021024;
  align-items: center;
  align-content: center;
  padding: 0 1.5rem;
  color: white;
  top: 0;
}

.navbar ul {
  display: flex;
  padding: 0 3rem 0 1rem;
  flex-wrap: wrap;
}

.navbar li {
  margin-left: 40px;
  flex-direction: row;
  transition: 1s ease;
}

.navbar li:hover {
  cursor: pointer;
  border-bottom: 0.01rem solid rgb(255, 244, 244);
  transform: scale(1.1);
}

.btn-dark {
  border-radius: 50%;
}

.navbar img {
  width: 2rem;
  background-color: white;
}

.navbar h1 {
  color: white;

}

.btn-login {
  align-content: center;
  text-align: center;
  color: white;
  transition: 1s ease;
}

.btn-login:hover {
  transform: scale(1.1);
}

/* Contenido de la pagina */

.landing-1 {
  justify-self: center;
  width: 70%;
  margin-top: 100px;
  display: flex;
  padding-top: 2rem;
  padding: 2rem;
}

.content1 {
  display: flex;
  text-align: justify;
  align-items: center;
  color: var(--text-color);
  transform: scale(1);
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
  view-timeline-name: --scroll;
  animation: scaleOnScroll linear;
  animation-timeline: --scroll;
}

.img2 {
  margin-left: 2rem;
  height: 15rem;
  width: 2200px;
  box-shadow: 0 0 1.5rem var(--secondbg-color);
}

.landing-2 {
  justify-items: center;
  padding: 0 0 2rem 0;
  transform: scale(1);
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
  view-timeline-name: --scroll;
  animation: scaleOnScroll linear;
  animation-timeline: --scroll;
}

section .info2 {
  padding: 2rem 3rem 2rem 3rem;
  color: var(--text-color);
  text-align: justify;
  width: 80%;
}

.img13 {
  padding-top: 2rem;
  width: 25rem;
  height: 15rem;
}

.landing-3 {
  padding: 2rem 3rem;
  text-align: justify;
  justify-items: center;
  opacity: 1;
  transform: scale(1);
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
  view-timeline-name: --scroll;
  animation: scaleOnScroll linear;
  animation-timeline: --scroll;
}

@keyframes scaleOnScroll {
  0% { transform: scale(1.1); opacity: 1; }
  50% {transform: scale(1); }
  100% { transform: scale(1.1); opacity: 0.8; }
}

.info3 {
  display: flex;
  color: var(--text-color);
  width: 80%;
}

.img14 {
  padding-top: 2rem;
  width: 25rem;
  height: 15rem;
}

.section3 {
  padding: 3rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.texto2,
.texto3,
.texto4 {
  width: 455px;
  padding: 8px;
  text-align: justify;
  view-timeline-name: --scroll;
  animation: scaleOnS 1.5s ease-out;
  animation-timeline: --scroll;
}

@keyframes scaleOnS {
  0% { transform: translateY(-50px); opacity: 1; }
  50% {transform: translateY(-20px); }
  100% { transform: translateY(50px); opacity: 0.8; }
}

.title3 {
  font-size: 20px;
  padding-bottom: 7px;
  color: #021024;
  font-weight: 600;
}

.img3,
.img4,
.img5 {
  width: 50px;
  height: 50px;
}

/*  Footer  */
.footer {
  background-color: #021024;
  color: white;
  padding: 1rem 20px;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
}

.footer-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-weight: bold;
}

.footer-img {
  max-width: 50%;
  height: 100px;
}

.contact-info,
.footer-links,
.social-media,
.newsletter {
  flex: 1;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-icon {
  width: 20px;
  height: 20px;
  transition: 0.3s;
}

.footer-list {
  list-style: none;
  padding-left: 0;
}

.footer-list-item {
  font-size: 1.1rem;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-list-item:hover {
  color: #f39c12;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icon {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 49%;
  transition: 0.3s;
}

.social-icon:hover {
  transform: scale(1.1);
}

.footer-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  color: black;
  border: 1px solid #ccc;
}

.footer-btn {
  width: 100%;
  padding: 10px;
  background-color: #f39c12;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.footer-btn:hover {
  background-color: #e67e22;
}

/* Estilos para el modo oscuro */
.dark .btn-dark {
  background-color: wheat;
  border-radius: 50%;
  transition: 1s ease;
}

.dark .btn-dark:hover {
  transform: scale(1.1);
}

.dark .navbar {
  background-color: black;
  color: white;
}

.dark .navbar h1 {
  color: white;
}

.dark .content1,
.dark .info2,
.dark .info3,
.dark .parr2,
.dark .title3 {
  color: white;
}

.dark .img3,
.dark .img4 {
  filter: drop-shadow(0 0 2px rgb(255, 225, 54));
}

.dark .main-container {
  background-color: #060c13;
}

.dark .footer {
  background-color: black;
  box-shadow: 1px 1px 5px 4px #2c3e50;
}

.dark .btn-login {
  transition: all 2s ease;
}

.dark .btn-login:hover {
  transform: scale(1.1);
}

/* Media Querys*/
@media (max-width: 600px) {
  .navbar {
    height: auto;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
  }

  .navbar ul {
    padding: 0;
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
  }

  .navbar li {
    margin: 0.5rem 0;
  }

  .btn-login {
    margin-top: 1rem;
  }

  section.landing-1 {
    width: 100%;
    margin-top: 50px;
    flex-direction: column;
    padding: 1rem;
  }

  .content1 {
    flex-direction: column;
    text-align: center;
  }

  .img2 {
    margin: 1rem 0;
    width: 100%;
    height: auto;
  }

  .landing-2,
  .landing-3 {
    padding: 1rem;
  }

  section .info2,
  .info3 {
    width: 100%;
    padding: 1rem;
  }

  .img13,
  .img14 {
    width: 100%;
    height: auto;
  }

  .section3 {
    flex-direction: column;
    padding: 1rem;
  }

  .texto2,
  .texto3,
  .texto4 {
    width: 100%;
    padding: 1rem;
  }

  .footer {
    padding: 1rem;
  }

  .footer-container {
    flex-direction: column;
    gap: 20px;
  }

  .footer-img {
    max-width: 100%;
  }

  .contact-info,
  .footer-links,
  .social-media,
  .newsletter {
    width: 100%;
  }
}

/* Media Queries para tablets (769px - 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {

  section.landing-1 {
    margin-top: 80px;
    margin-left: 100px;
  }

  .content1 {
    flex-direction: row;
    align-items: center;
  }

  .img2 {
    height: auto;
  }

  .landing-2,
  .landing-3 {
    padding: 1rem 2rem;
  }

  section .info2,
  .info3 {
    width: 90%;
  }

  .img13,
  .img14 {
    width: 50%;
    height: auto;
  }

  .section3 {
    padding: 2rem;
  }

  .texto2,
  .texto3,
  .texto4 {
    width: 30%;
  }

  .footer {
    padding: 1rem 2rem;
  }

  .footer-container {
    flex-wrap: wrap;
  }

  .contact-info,
  .footer-links,
  .social-media,
  .newsletter {
    flex: 1 1 45%;
  }
}

/* Media Queries para pantallas grandes (más de 1024px) */
@media (min-width: 1025px) {
  .navbar {
    padding: 0 2rem;
  }

  .navbar ul {
    padding: 0 2rem;
  }

  section.landing-1 {
    width: 40%;
    margin-top: 100px;
    margin-left: 0px;
  }

  .content1 {
    flex-direction: row;
    align-items: center;
  }

  .img2 {
    height: auto;
  }

  .landing-2,
  .landing-3 {
    padding: 2rem 3rem;
  }

  section .info2,
  .info3 {
    width: 80%;
  }

  .img13,
  .img14 {
    height: auto;
  }

  .section3 {
    padding: 3rem;
  }

  .texto2,
  .texto3,
  .texto4 {
    width: 30%;
  }

  .footer {
    padding: 2rem;
  }

  .footer-container {
    max-width: 1200px;
  }

  .contact-info,
  .footer-links,
  .social-media,
  .newsletter {
    flex: 1;
  }
}