/* Listar.css */

/* Contenedor principal */
.listar-container {
    padding: 2rem;
    min-height: 100vh;
}
/* Título principal */
.listar-container h1 {
    font-size: 1.5rem;
    text-align: center;
}

/* Descripción */
.listar-container p {
    font-size: 1rem;
    color: #4a5568;
    margin-bottom: 2rem;
}

/* Separador */
hr {
    border-top: 1px solid #e2e8f0;
    margin: 2rem 0;
}

/* Tabla */
.table-container {
    overflow-x: auto;
}