
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #021024, #1B1B2F, #16213E);
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
}

.login-form-container {
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 0 5px 1px white;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.login-form {
    width: 100%;
}

.toggle-password{
    position: absolute;
    right: 10px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #666;
}

.login-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    color: #4b5563;
}

.login-subtitle {
    color: #9ca3af;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 0.875rem;
}

.input-group {
    padding: 1.5rem 0;
}

.input-label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: 0.875rem;
    color: white;
}

.input-field:-webkit-autofill,
.input-field:-webkit-autofill:hover,
.input-field:-webkit-autofill:focus,
.input-field:-webkit-autofill:active {
    background: transparent !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}

.input-field {
    width: 100%;
    padding: 0.5rem;
    color: white;
    border-radius: 4px;
    background-color: transparent;
    border-bottom: 1px solid white;
    outline: none;
    transition: border-color 0.2s ease;
}

.input-field:focus {
    border-color: #111827;
    box-shadow: 0 0 0 1px #111827;
}

.button-group {
    margin: 1rem 0;
}

.btn-primary {
    width: 100%;
    padding: 0.75rem;
    transition: 0.3s ease, transform 0.3s ease;
    border-bottom: 1px solid white;
    cursor: pointer;
    color: white;
    height: 45px;
}

.btn-primary:hover {
    background-color: #111827;
    color: white;
    transform: scale(1.05);
}

.divider {
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
    color: #9ca3af;
}

.divider hr {
    flex: 1;
    border: none;
    border-top: 1px solid #d1d5db;
}

.divider-text {
    margin: 0 0.5rem;
    font-size: 0.875rem;
}

/*.btn-google,
.btn-facebook {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    background-color: white;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-google:hover {
    background-color: black;
    color: white;
    transform: scale(1.05);
}
.btn-facebook:hover {
    background-color: #2563eb;
    color: white;
    transform: scale(1.05);
}*/


.btn-icon {
    width: 1.25rem;
    margin-right: 0.5rem;
}

.forgot-password {
    margin-top: 1.25rem;
    text-align: center;
}

.forgot-link {
    font-size: 0.875rem;
    color: #9ca3af;
    text-decoration: none;
}

.forgot-link:hover {
    color: wheat;
    text-decoration: none;
}

.register-link {
    margin-top: 1.5rem;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.btn-secondary {
    padding: 0.5rem 1rem;
    background-color: transparent;
    border-bottom: 1px solid white ;
    color: #d1d5db;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-secondary:hover {
    background-color: #111827;
    color: white;
    transform: scale(1.1);
}

/* Responsive Styles */
@media (max-width: 768px) {
    /* Para pantallas de tabletas y más pequeñas */
    .login-container {
        width: 100%; /* Asegura que ocupe todo el ancho */
        height: auto; /* Ajusta la altura */
        padding: 1rem;
    }

    .login-form-container {
        max-width: 90%; /* Reduce el ancho del formulario */
        padding: 1.5rem;
    }

    .login-title {
        font-size: 1.5rem; /* Reduce el tamaño del título */
    }

    .input-label, .input-field {
        font-size: 0.875rem; /* Ajusta el tamaño de fuente */
    }

    .btn-primary {
        padding: 0.75rem; /* Ajusta el tamaño de los botones */
    }

    .divider-text {
        font-size: 0.75rem; /* Reduce el tamaño de texto en el divisor */
    }
}

@media (max-width: 480px) {
    /* Para pantallas más pequeñas como teléfonos */
    .login-container {
        height: auto; /* Ajusta la altura */
        padding: 1rem;
        height: 100%;
    }

    .login-form-container {
        width: 100%; /* Asegura que el formulario ocupe todo el ancho */
        padding: 1.5rem;
    }

    .login-title {
        font-size: 1.2rem; /* Ajusta aún más el tamaño del título */
    }

    .input-label, .input-field {
        font-size: 0.875rem; /* Ajusta el tamaño de los campos de entrada */
    }

    .btn-primary {
        padding: 0.75rem; /* Ajusta el tamaño del botón */
    }

    .divider-text {
        font-size: 0.75rem; /* Ajusta el tamaño de los textos en el divisor */
    }

    .btn-google, .btn-facebook {
        padding: 0.75rem; 
    }

    .forgot-link, .register-link {
        font-size: 0.75rem; 
    }
}