body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 731px;
    width: 100%; /* Ajustado para que ocupe el ancho completo */
    background-color: #111827;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0; /* Asegura que cubra toda la pantalla */
}

.login-form-container {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px; /* Asegura que no se estire demasiado en pantallas grandes */
}

.login-form {
    width: 100%;
}

.login-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    color: #4b5563;
}

.login-subtitle {
    color: #9ca3af;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 0.875rem;
}

.input-group {
    margin-bottom: 1rem;
}

.input-label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 0.875rem;
    color: #374151;
}

.input-field {
    width: 100%;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    padding: 0.5rem;
    color: #6b7280;
    outline: none;
    transition: border-color 0.2s ease;
}

.input-field:focus {
    border-color: #6d28d9;
    box-shadow: 0 0 0 1px #6d28d9;
}

.button-group {
    margin: 1rem 0;
}

.btn-primary {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    height: 45px;
}

.btn-primary:hover {
    background-color: #111827;
    color: white;
    transform: scale(1.05);
}

.divider {
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
    color: #9ca3af;
}

.divider hr {
    flex: 1;
    border: none;
    border-top: 1px solid #d1d5db;
}

.divider-text {
    margin: 0 0.5rem;
    font-size: 0.875rem;
}

.btn-google,
.btn-facebook {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    background-color: white;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-google:hover {
    background-color: black;
    color: white;
    transform: scale(1.05);
}

.btn-facebook:hover {
    background-color: #2563eb;
    color: white;
    transform: scale(1.05);
}

.btn-icon {
    width: 1.25rem;
    margin-right: 0.5rem;
}

.forgot-password {
    margin-top: 1.25rem;
    text-align: center;
}

.forgot-link {
    text-decoration: underline;
    font-size: 0.875rem;
    color: #9ca3af;
}

.forgot-link:hover {
    color: #111827;
}

.register-link {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-secondary {
    padding: 0.5rem 1rem;
    background-color: #6b7280;
    color: #d1d5db;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-secondary:hover {
    background-color: #111827;
    color: white;
    transform: scale(1.1);
}

/* Responsive Styles */
@media (max-width: 768px) {
    /* Para pantallas de tabletas y más pequeñas */
    .login-container {
        width: 100%; /* Asegura que ocupe todo el ancho */
        height: auto; /* Ajusta la altura */
        padding: 1rem;
    }

    .login-form-container {
        max-width: 90%; /* Reduce el ancho del formulario */
        padding: 1.5rem;
    }

    .login-title {
        font-size: 1.5rem; /* Reduce el tamaño del título */
    }

    .input-label, .input-field {
        font-size: 0.875rem; /* Ajusta el tamaño de fuente */
    }

    .btn-primary {
        padding: 0.75rem; /* Ajusta el tamaño de los botones */
    }

    .divider-text {
        font-size: 0.75rem; /* Reduce el tamaño de texto en el divisor */
    }
}

@media (max-width: 480px) {
    /* Para pantallas más pequeñas como teléfonos */
    .login-container {
        height: auto; /* Ajusta la altura */
        padding: 1rem;
        height: 100%;
    }

    .login-form-container {
        width: 100%; /* Asegura que el formulario ocupe todo el ancho */
        padding: 1.5rem;
    }

    .login-title {
        font-size: 1.2rem; /* Ajusta aún más el tamaño del título */
    }

    .input-label, .input-field {
        font-size: 0.875rem; /* Ajusta el tamaño de los campos de entrada */
    }

    .btn-primary {
        padding: 0.75rem; /* Ajusta el tamaño del botón */
    }

    .divider-text {
        font-size: 0.75rem; /* Ajusta el tamaño de los textos en el divisor */
    }

    .btn-google, .btn-facebook {
        padding: 0.75rem; 
    }

    .forgot-link, .register-link {
        font-size: 0.75rem; 
    }
}