.notfound-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    min-height: 100vh;
    background-color: #242d3a;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.notfound-logo {
    object-fit: cover;
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    border: 4px solid #4B5563;
    margin-bottom: 1.5rem;
}

.notfound-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1.5rem;
}

.notfound-title {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 1rem;
}

.notfound-message {
    font-size: 1.125rem;
    color: #e0e7ff;
    margin-bottom: 2rem;
}

.notfound-button {
    padding: 1rem;
    margin-top: 1.5rem;
    width: 100%;
    text-align: center;
    background-color: #4B5563;
    color: #E5E7EB;
    border-radius: 0.75rem;
    font-size: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.notfound-button:hover {
    transform: scale(1.05);
    background-color: #1F2937;
    color: #FFFFFF;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}