.toggle-pass-passAd {
    position: relative;
    display: inline-block;
}

.diver {
    position: absolute;
    right: 1.5rem;
    top: -3rem;
    font-size: 1.2rem;
    color: black;
}

.diver:hover {
    cursor: pointer;
}

@media (max-width: 430px) {
    .mt-5 h1 {
        text-align: center;
    }

    .diver {
        right: 1rem;
        top: -3rem;
    }
}