.perfil-container {
    margin-bottom: 100px;
    padding: 0 20px;
    height: auto;
}

.perfil-title {
    font-size: 1.5rem;
    text-align: center;
}

.perfil-divider {
    margin: 16px auto;
    border: 0;
    border-top: 2px solid #E2E8F0;
}

.perfil-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-wrap: wrap;
}

/* Form Section */
.perfil-form,
.perfil-card {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    margin-top: 20px;
    height: auto;
    padding: 20px;
    border-radius: 8px;
}

/* Responsive Design */
@media(min-width:1024px){
    .perfil-content {
        width: 90%;
    }
}

@media(min-width:768px) and (max-width:1023px){
    .perfil-content {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .perfil-form,
    .perfil-card {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .perfil-container {
        margin-bottom: 50px; 
        padding: 0 10px; 
    }

    .perfil-title {
        font-size: 1.2rem; 
        margin-left: -50px;
    }

    .perfil-divider {
        margin: 10px auto;
        width: 100%; 
        margin-left: -30px;
    }

    .perfil-content {
        width: 100%; 
        gap: 16px; 
    }

    .perfil-form,
    .perfil-card {
        padding: 15px; 
        margin-top: 15px;
        width: 280px;
    }
}
@media(min-width:1024px){
    .perfil-content {
        display: flex;
        flex-direction: column;
        gap: 24px;
        flex-wrap: wrap;
        margin-left: 70px;
    }
}
