.perfil-container {
    margin-bottom: 6.25rem;
    height: auto;
}

.perfil-title {
    color: black;
    font-size: 1.5rem;
    text-align: center;
}

.perfil-divider {
    margin: 1rem auto;
    border: 0;
    border-top: 0.13rem solid #E2E8F0;
}

.perfil-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-wrap: wrap;
}

/* Form Section */
.perfil-form,
.perfil-card {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 1.25rem;
    height: auto;
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 12px 5px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media(min-width:1024px) {
    .perfil-content {
        width: 90%;
    }
}

@media(min-width:768px) and (max-width:1023px) {
    .perfil-content {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .perfil-form,
    .perfil-card {
        width: 100%;
    }
}

@media (max-width: 767px) {

    .perfil-title {
        font-size: 1.2rem;
    }

    .perfil-divider {
        margin: 0.63rem auto;
        width: 100%;
    }

    .perfil-content {
        align-items: center;
        gap: 1rem;
    }

    .perfil-form,
    .perfil-card {
        width: 17.5rem;
    }
}

@media(min-width:1024px) {
    .perfil-content {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        flex-wrap: wrap;
        margin-left: 4.4rem;
    }
}