.pet-container{
    justify-content: center;
}

.pet-formcontainer{
    text-indent: 35px;
    width: 50%;
    border-radius: 10px;
    border: 2px solid black;
    backdrop-filter: blur(10px);
    background-color: rgba(219, 219, 219, 0.203);
}
.pet-formcontainer h1{
    text-align: center;
    margin-left: -1rem;
}
.pet-form{
    border-radius: 10px;
}

.pet-input{
    width: 90%;
    margin-left: 20px;
    background-color: transparent;
    border-radius: 8px;
    height: 30px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
.pet-btn{
    height: 35px;
    border: 2px solid black;
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.5s ease-out;
}
.pet-btn:hover{
    transform: scale(1.05);
}
.pet-input::placeholder{
    color: black;
}

.pet-formcontainer h1{
    font-size: 1rem;
    color: black;
    font-weight: bold;
}

@media (max-width: 430px) {
    .pet-formcontainer{
        width: 100%;
    }
    .pet-formcontainer h1{
        text-align: center;
    }
    .pet-btn{
        width: 50%;
        margin-left: 50px;
    }
}

@media (min-width: 431px) and (max-width:1023px){
    .pet-btn{
        margin-left: 60px;
    }
}

@media (min-width:1024px){
    .pet-formcontainer{
        width: 400px;
    }
    .pet-btn{
        margin-left: 80px;
    }
}

