/* Estilos base para la tabla */
.tabla-productos {
  border-spacing: 1px;
  border-radius: 8px;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

thead {
  background: linear-gradient(135deg, #021024, #1B1B2F, #16213E);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

thead th {
  padding: 1rem 1.5rem;
  text-align: center;
  font-size: 1rem;
}

/* Estilo para las filas */
.tabla-fila {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.tabla-fila:nth-child(even) {
  background-color: #f9f9f9;
}

.tabla-fila:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.tabla-celda {
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  border: none;
}

.tabla-celda:last-child {
  text-align: center;
  padding: 0.rem;
}

.tabla-icono,
.tabla-iconoI,
.tabla-icono-eliminar {
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s;
}

.tabla-icono {
  color: #00b894; 
}

.tabla-iconoI {
  color: #fdcb6e; 
}

.tabla-icono-eliminar {
  color: #d63031;
}

.tabla-icono:hover {
  transform: scale(1.2);
  color: #00b894;
}

.tabla-iconoI:hover {
  transform: scale(1.2);
  color: #fdcb6e;
}

.volver-btn{
  height: 2rem;
  width: 11rem;
  background-color: #16213E;
  color: white;
}

.volver-btn:hover{
  background-color: #75b1d8b5;
  color: black;
}

.tabla-icono-eliminar:hover {
  transform: scale(1.2);
  color: #d63031;
}

.Inor {
  display: block;
  margin: 50px auto;
  max-width: 200px;
  width: 100%;
  height: auto;
}

.estado-badge {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.estado-badge.activo {
  background-color: #28a745;
  color: white;
}

.estado-badge.inactivo {
  background-color: #e74c3c;
  color: white;
}

.tabla-celdaI {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.loading {
  margin-top: 4rem;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-left: 600px;
  animation: spin 1.2s linear infinite;
  overflow: hidden;
}

.categorias-container{
  padding: 0 5rem;
}

.categorias-container h1{
  margin-bottom: 40px;
}

.categorias-grid{
  max-height: 14rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 6rem;
  justify-content: center;
  
}

.categoria-content h3{
  color: black;
  font-size: 2rem;
}

.categoria-card{
  margin-top: 10px;
  width: 22rem;
  height: 7rem;
  border-radius: 5px;
  padding: 0 0.5rem;
  box-shadow: 0 1px 7px 2px gray;
  color: white;
  transition: 0.3s ease-in-out;
  background-image: url(../assets/fondos/categorias.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
}
.categoria-card:hover{
  cursor: pointer;
  background-color: #9c9ec2a7;
  color: rgb(224, 213, 213);
}




@media (max-width: 767px) {
  .tabla-productos {
      display: block;
      overflow-x: auto;
      white-space: nowrap; 
      width: 118%;
      margin-left: -25px;
  }

  thead th {
      padding: 0.5rem; 
      font-size: 0.875rem; 
  }

  .tabla-celda {
      padding: 0.5rem; 
      font-size: 0.875rem; 
  }

  .tabla-icono,
  .tabla-iconoI,
  .tabla-icono-eliminar {
      font-size: 1.2rem; 
  }

  .tabla-celdaI {
      flex-direction: row; 
      gap: 0.5rem; 
  }

  .loading {
      margin-left: 5.5rem;
      margin-top: -0rem;
      transform: translateX(-50%); 
  }
  .volver-btn{
    border: 2px solid black;
    height: 2rem;
    width: 8.5rem;
    margin-left: -1.5rem;
    font-size: small;
    background-color: #16213E;
  }
  
  .volver-btn:hover{
    background-color: #8dbbd9c3;
    color: White;
  }

  .categorias-container{
    text-align: center;
    padding: 0 1rem;
  }

  .categorias-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem 0.5rem;
}
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Responsive para pantallas medianas */
@media screen and (min-width: 1024px) {
    .table-wrapper {
      padding: 0.5rem;
    }
  
    .tabla-productos {
      font-size: 0.9rem;
    }
  
    .tabla-celda {
      padding: 0.8rem;
    }
  
    .tabla-icono,
    .tabla-iconoI,
    .tabla-icono-eliminar {
      font-size: 1.2rem;
    }
    .loading{
      margin-left: 37rem;
    }

  }
  
  /* Responsive para tablets y móviles */
  @media (min-width: 768px) and (max-width:1023px){
    .table-wrapper {
      overflow-x: auto;
      padding: 0.5rem;
    }
  
    .tabla-productos {
      width: 100%;
      border-spacing: 0.5rem;
    }
  
    thead th {
      font-size: 0.9rem;
      padding: 0.8rem;
    }
  
    .tabla-celda {
      padding: 0.6rem;
      font-size: 0.85rem;
    }
  
    .tabla-icono,
    .tabla-iconoI,
    .tabla-icono-eliminar {
      font-size: 1rem;
      margin-top: 1px;
    }

    .loading{
      margin-left: 17rem;
    }
  }
  