/* Contenedor de la tabla */
.table-wrapper {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #eaf0f4;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

/* Estilos para la tabla */
.tabla-productos {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1rem;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

thead {
    background-color: #6c5ce7;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

thead th {
    padding: 1rem 1.5rem;
    text-align: center;
    font-size: 1rem;
    border-radius: 12px;
}

/* Estilo para las filas */
.tabla-fila {
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 12px;
}

.tabla-fila:nth-child(even) {
    background-color: #f9f9f9;
}

.tabla-fila:hover {
    background-color: #f1f1f1;
    cursor: pointer;
    transform: scale(1.02);
}

.tabla-celda {
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    border: none;
}

.tabla-celda:last-child {
    text-align: center;
    padding: 0.8rem;
}

/* Iconos de acciones */
.tabla-icono,
.tabla-iconoI,
.tabla-icono-eliminar {
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s;
}

.tabla-icono {
    color: #00b894; /* Verde claro para agregar */
}

.tabla-iconoI {
    color: #fdcb6e; /* Amarillo para actualizar */
}

.tabla-icono-eliminar {
    color: #d63031; /* Rojo para eliminar */
}

.tabla-icono:hover {
    transform: scale(1.2); /* Aumento de tamaño al pasar el mouse */
    color: #00b894;
}

.tabla-iconoI:hover {
    transform: scale(1.2); /* Aumento de tamaño al pasar el mouse */
    color: #fdcb6e;
}

.tabla-icono-eliminar:hover {
    transform: scale(1.2); /* Aumento de tamaño al pasar el mouse */
    color: #d63031;
}

/* Mensaje cuando no hay productos */
.Inor {
    display: block;
    margin: 50px auto;
    max-width: 200px;
    width: 100%;
    height: auto;
}

/* Estilo para los badges de estado */
.estado-badge {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 0.875rem;
    border-radius: 12px;
    font-weight: 500;
}

.estado-badge.activo {
    background-color: #28a745;
    color: white;
}

.estado-badge.inactivo {
    background-color: #e74c3c;
    color: white;
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
    .tabla-productos {
        font-size: 0.875rem;
    }

    .tabla-celda {
        padding: 0.8rem;
    }

    .tabla-icono,
    .tabla-iconoI,
    .tabla-icono-eliminar {
        font-size: 1.2rem;
    }

    .tabla-icono {
        margin-left: 10px;
    }

    .tabla-iconoI {
        margin-left: 20px;
    }

    .tabla-icono-eliminar {
        margin-left: 30px;
    }
}