/* Tabla y diseño general */
.tabla-productos {
    width: 100%;
    margin-top: 2rem;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.Inor{
    margin-left: 400px;
    width: 400px;
    height: 350px;
}

.tabla-celda {
    text-align: center;
    border: 1px solid #e0e0e0;
}

.tabla-fila:nth-child(even) {
    background-color: #f9f9f9;
}

.tabla-fila:hover {
    background-color: #f1f1f1;
}

/* Estilos para los iconos y acciones */
.tabla-icono {
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 50px;
    transition: color 0.3s;
}
.tabla-iconoI{
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: -20px;
    margin-left: 80px;
    transition: color 0.3s;
}
.tabla-icono-eliminar{
    cursor: pointer;
    font-size: 1.5rem;
    transition: color 0.3s;
    margin-left: 110px;
    margin-top: -24px;

}

.tabla-icono:hover {
    color: yellow;
}
.tabla-iconoI:hover {
    color: green;
}
.tabla-icono-eliminar:hover {
    color: red;
}

/* Icono de eliminar */
.tabla-icono.eliminar:hover {
    color: #e74c3c;
}

/* Estilos para los badges de estado */
.estado-badge {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 0.875rem;
    border-radius: 12px;
    font-weight: 500;
}

.estado-badge.activo {
    background-color: #28a745;
    color: white;
}

.estado-badge.inactivo {
    background-color: #e74c3c;
    color: white;
}

/* Estilo para la fila de encabezado */
thead {
    background-color: #021024;  /* Color de fondo especificado */
    color: white;
    text-transform: uppercase;
}

thead th {
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
    border: 1px solid #021024;  /* Bordes del encabezado */
}

/* Mensaje cuando no hay productos */
.mensaje-no-registros {
    text-align: center;
    font-size: 1.2rem;
    color: #777;
}

/* Efectos de hover para las filas */
.tabla-fila:hover {
    background-color: #e1e1e1;
    cursor: pointer;
}

/* Espaciado y márgenes */
.table-wrapper {
    margin-top: 2rem;
}
@media (max-width: 768px) {
    .tabla-celda {
        padding: 0.5rem;
        font-size: 0.875rem;
    }
    .tabla-icono{
        margin-left: 10px;
        margin-top: -4px;
    }
    .tabla-icono-eliminar{
        margin-top: -25px;
    }
    .tabla-iconoI{
        margin-top: -24px;
        margin-left: 55px;
    }
}