.container-visualizar {
  background: linear-gradient(135deg, #1e1e1e, #2d2d2d);
  min-height: 100vh;
  padding: 2rem 1rem;
  color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background-image: url("../assets/fondos/Fondotienda.jpg");
  background-size: 90% auto; 
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: -250px;
}
.title-v{
  font-size: 1.4rem;
}
h1 {
  color: #ffffff;
  font-size: 2rem; 
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.my-3 {
  border-top: 2px solid black;
  margin: 1.5rem 0;
}

.card-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.card {
  border-radius: 12px;
  padding: 2rem; 
  width: 300px; 
  box-shadow: 0 6px 12px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-top: 7px;
  background: linear-gradient(135deg, #010101, #292929); 
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.card-image {
  width: 100%;
  height: 180px; 
  overflow: hidden;
  border-radius: 12px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-details {
  margin-top: 1rem;
  position: relative;
  z-index: 1;
}

.card-details h2 {
  color: #10b981;
  font-size: 1.2rem; 
  font-weight: 600;
  margin-bottom: 1rem;
}

.card-details p {
  font-size: 0.95rem; 
  color: #e5e7eb;
  margin-bottom: 0.5rem; 
  text-align: left;
}

.card-details strong {
  font-weight: 700;
  color: #ffffff;
}

button {
  background-color: #10b981;
  color: #ffffff;
  padding: 0.75rem 1.25rem; 
  border-radius: 0.375rem;
  border: none;
  font-size: 1rem; 
  cursor: pointer;
  margin-top: 1.5rem; 
  transition: background-color 0.2s ease, transform 0.2s ease;
  text-transform: uppercase;
  font-weight: 600;
}

button:hover {
  background-color: #1abc9c;
  transform: scale(1.05);
}

button:focus {
  outline: none;
}

@media(min-width:768px) and (max-width:1023px){
  .my-3{
    border: 1px solid black;
  }
}
@media (max-width: 400px) {  
  .card{
    margin-left: -60px;
  }
  .title-v{
    margin-left: -50px;
  }
  .my-3{
    margin-left: -50px;
  }
}
